body {
    background: #F1D3BD;
}

.container {
    padding: 50px 50px;
}

.grid-left-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-left-top-cover {
    margin: auto;
}

.grid-left-top-cover img {
    cursor: pointer;
}

.grid-left-top-info h2 {
    font-family: Kaushan Script;
    font-size: 40px;
    line-height: 30px;
}

.grid-left-top-info h3 {
    font-size: 25px;
    line-height: 5px;
}

.grid-left-top-info p {
    font-size: 19px;
}

.button {
    width: 200px;
    padding: 10px;
    color: black;
    background-color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.grid-left-middle h2 a {
    color: black;
}

.grid-left-bottom {
    width: 70%;
    background: #E7E2E2;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.grid-right-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-right-top-cover {
    margin: auto;
}

.grid-right-top-cover img {
    cursor: pointer;
}

.grid-right-top-info h2{
    font-family: Kaushan Script;
    font-size: 40px;
    line-height: 30px;
}

.grid-right-top-info h3{
    font-size: 25px;
    line-height: 5px;
}

.grid-right-top-info p {
    font-size: 19px;
}

.grid-right-middle h2 a {
    color: black;
}

.grid-right-bottom {
    width: 70%;
    background: #E7E2E2;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    font-size: 15px;
}

@media only screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .grid-left-top-cover {
        display: none;
    }

    .grid-left-top-info h2 {
        line-height: 40px;
    }

    .grid-right-top-cover {
        display: none;
    }

    .grid-right-top-info h2 {
        line-height: 40px;
    }
}