body {
    background: #F1D3BD;
    margin-top: 100px;
    margin-left: 35px;
}

.signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.signup-left h1 {
    font-size: 80px;
    font-family: Montserrat;
    line-height: 5px;
}

.signup-left h1 img {
    cursor: pointer;
}

.signup-left form {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 900px;
    background-color: white;
    margin-top: 30px;
}

.form, .form-control-top {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 800px;
    height: 70px;
    background-color: #D9D9D9;
    font-weight: bold;
}

#form-control-top {
    margin-left: 10px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 30px;
    gap: 50px;
}

.form-control select {
    width: 315px;
    height: 35px;
}

.form-control input {
    width: 315px;
    height: 35px;
    background-color: #D9D9D9;
    border: none;
}

.form-control button {
    width: 170px;
    height: 60px;
    background-color: #ABABAB;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-right {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 350px;
    background-color: white;
    margin-top: 12rem;
}

.upload-control {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    width: 350px;
    height: 70px;
    background-color: #D9D9D9;
    font-weight: bold;
}

.signup-right img {
    width: 115px;
    height: 140px;
    align-self: center;
    margin-top: 35px;
}

.signup-right button {
    width: 170px;
    height: 60px;
    background-color: #ABABAB;
    border: none;
    border-radius: 5px;
    align-self: center;
    cursor: pointer;
}