html, body {
  overflow-x: hidden;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 65px;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    background-image: url('./Assets/welcome/image\ 1.png');
  }

  .welcomebox {
    background: #F1D3BD;
    border-radius: 10px;
    padding: 20px;
  }
  
  .searchbar_input {
    border-radius: 50px;
    background-image: url('./Assets/welcome/searchicon.svg');
    background-position: bottom 12px left 780px;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    font-size: 24px;
    padding: 20px;
  }
  
  .welcomebox-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .welcomebox-left h1 {
    font-size: 100px;
    font-weight: 400;
    line-height: 30px;
  }

  .welcomebox-left h2 {
    font-size: 30px; 
  }

  .register-button {
    background: white;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 30px;
  }

  .register-button a {
    text-decoration: none;
    color: black;
  }

  .welcomebox-right h2 {
    font-size: 36px;
    text-align: center;
  }

  .book-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
  }
  
  .book-grid-items {
    width: 155px;
    height: 240px;
  }
  
  #obama-book {
    background-image: url('./Assets/welcome/mobama.png');
  }
  
  #prophets-book {
    background-image: url('./Assets/welcome/prophets.png');
  }
  
  #birds-book {
    background-image: url('./Assets/welcome/birds.png');
  }
  
  #stella-book {
    background-image: url('./Assets/welcome/stella.png');
  }
  
  #perish-book {
    background-image: url('./Assets/welcome/perish.png');
  }
  
  #blackcake-book {
    background-image: url('./Assets/welcome/blackcake.png');
  }

  @media only screen and (min-width: 769px) {
    .welcomebox {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 60%;
    }
    .searchbar_input {
      width: 845px;
    }
    }
    
    @media only screen and (max-width: 667px) {
      
      .welcomebox {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        width: 80%;
        height: 2000px;
      }

      .welcomebox-left {
        text-align: center;
      }

      .welcomebox-left h1 {
        font-size: 50px;
      }

      .welcomebox-left h2 {
        font-size: 20px;
      }

      .register-button {
        padding: 10px;
      }

      .searchbar_input {
        width: 300px;
      }

      .welcomebox-right h2 {
        font-size: 30px;
      }

      .book-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
      }
      }